<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Confirmation Email</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"></link>

    <!-- Custom Fonts -->
    <!--<link href="/css/font-awesome.css" rel="stylesheet" type="text/css"></link>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <h1>Activate account</h1>
    <hr/>
    <h5 th:if="${employee != null}">A confirmation mail has been sent to you!</h5>
</div>

<!-- jQuery -->
<script src="/js/jquery.min.js" type="javascript"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js" type="javascript"></script>

</body>
</html>