<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Register</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"></link>

    <!-- Custom Fonts -->
    <!--<link href="/css/font-awesome.css" rel="stylesheet" type="text/css"></link>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">
    <h1>Register</h1>
    <form action="#" th:action="@{/register}" th:object="${employee}" method="POST" enctype="utf8">
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" th:field="*{email}"/>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>

        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" th:field="*{password}"/>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Confirm password</label>
            <input class="form-control" type="password" th:field="*{confirmPassword}"/>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('confirmPassword')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>First name</label>
            <input class="form-control" type="text" th:field="*{firstName}"/>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Last name</label>
            <input class="form-control" type="text" th:field="*{lastName}"/>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Male</label>
            <input class="form-control" name="gender" type="radio" th:field="*{gender}" value="MALE"/>
            <label>Female</label>
            <input class="form-control" name="gender" type="radio" th:field="*{gender}" value="FEMALE"/>
        </div>
        <div class="form-group">
            <label>Date of birth</label>
            <input class="form-control" type="date" th:field="*{birthDate}"/>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('birthDate')}"
               th:text="${error}">Validation error</p>
        </div>
        <br/>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <hr/>
    <p> Already have an account? <a th:href="@{/login}">Login</a></p>
</div>

<!-- jQuery -->
<script src="/js/jquery.min.js" type="javascript"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js" type="javascript"></script>

</body>
</html>